* {
  color: #444;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
button{
  background-color: rgba(0, 0, 0, 0);
}
table,
td,
tr,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
table {
  width: 100%;
  align-content: center;
  text-align: center;
  margin: 20px 0;
}
body {
  align-items: center;
  margin: auto;
  background-color: #ededed;
}
.select2,
input[type="submit"] {
  margin: auto !important;
  width: 100% !important;
}
.margin-10 {
  margin: 10px !important;
  border: 0px;
}
input[type="submit"] {
  background-color: #ffb120;
  border: 0px;
  color: #fff;
  font-weight: 500;
  height: 30px;
  border-radius: 5px;
}
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* #fromTo{
  display: flex;
  justify-content: center;
  margin: auto;
} */
button {
  border: none;
  margin: 0 10px 0 0;
}
.filters {
  /* text-align: center; */
  padding: 10px 20px 5px 20px;
  background-color: #ffb120;
}

body {
  padding: 0;
}

.main_container {
  background-color: white;
  padding: 10px;
  /* border-radius: 5px; */
  margin: 1px auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tN {
  background-color: #ffb120;
  padding: 2px 10px;
  border-radius: 3px;
}

.src,
.dst,
.jET,
.timeEmoji,
.jST {
  padding: 3px 10px;
}

.time,
.trainInfo {
  margin: 3px 5px;
  padding: 10px;
}

.time {
  background-color: #8CFFDB;
  border-radius: 5px;
}

.totalDur {
  float: right;
}

.status {
  float: right;
  text-decoration: none;
}

#fromTo {
  padding: 0.1px 20px;
  background-color: #ffb120;
}

#showMetroFilter {
  background-color: #ffb120;
  border-radius: 5px;
  padding: 5px;
}

/* .src,.dst {
  font-weight: 600;
} */

.interchange {
  display: flex;
  justify-content: stretch;
}

.metro {
  text-align: center;
  background-color: #ffb120;
  /* border-top:  3px solid;
  border-bottom: 3px solid; */
  margin: 0;
  font-weight: 600;
  padding: 10px;
  position: sticky;
  bottom: 0;
  top: 0;
}
.blink {
  animation: blink 2s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ucm {
  /* background-color: #98FB98; */
  color: white;
}
.ucm .timeEmoji {
  animation: blink 2s infinite;
}
@keyframes backgroundBlink {
  0% {
    background-color: #8CFFDB;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #8CFFDB;
  }
}

.breakJourney {
  display: none;
}

.departed .tN,
.departed .time,
.departed .status {
  background-color: #f6f6f6;
  color: #9d9d9d;
}

.departed .trainInfo,
.departed .src,
.departed .dst,
.departed .jET,
.departed .jST,
.departed .totalDur {
  color: #9d9d9d !important;
}
.departed .timeEmoji{
  opacity: 0.4;
}
